@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));

}

@media (max-width: 640px) {
  body {
    overflow-x: hidden; /* Ensure this isn't being overridden */
  }
}